/* General style of text and stuff */

h1, h2, h3, nav {
font-family: 'Noto Sans HK', sans-serif;
}

p{
font-family: 'Montserrat', sans-serif;
}

article h3 {
	text-align: center;
}

/* Set the navigation line */

nav ul li{
display: inline-block;
margin: 0px;
padding-top: 16px;
padding-bottom: 16px;
padding-left: 24px;
padding-right: 64px;
}

nav{
	text-align:center;
	background-color: #535f67;
}

nav a{
	color: #f4f4f4;
	vertical-align: center;
}

nav a:hover{
	color:#70aedd;
	transition: 0.1s linear;
}

/* General body settings */

body {
	height: 500px;
	background-position: center;
	padding-top: 32px;
}

main a:visited{
	color:#B0B522;
}

main a:hover{
	color:#70aedd;
	transition: 0.1s linear;
}

header {
	background-image: url("C:/Users/mariu/project_local_elections/web_page/images/background_header.png");
	background-color: hsla(0,0%,100%,0.60);
    background-blend-mode: overlay;
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;

}

header h1, h2{
	text-align: center;
	color: #535f67;
	padding-top: 16px;
	padding-bottom: 16px;
}

section ul li{
	display:block;
	background-image: url("C:/Users/mariu/project_local_elections/web_page/images/background.png");
	background-position: -9000 -9000;
}

header h2{
	text-align: center;
	color: #535f67;
	padding-bottom: 32px;
}

main article{
	padding-top: 64px;
	margin-top: 16px;
	margin-left: 32px;
	padding-bottom: 64px;
	text-align: center;
	background-image: url("C:/Users/mariu/project_local_elections/web_page/images/background.png");
	background-position: -9000 -9000;
}

main ul li{
	display: inline-block;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 72px;
	padding-right: 32px;
	vertical-align: text-top;
	text-align: center;
}

footer {
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 64px;
	background-color: #535f67;
}

footer ul li a, footer p{
	color: #f4f4f4;
	vertical-align: center;
}

footer ul li a:hover{
	color:#70aedd;
	transition: 0.1s linear;
}

footer ul li a:visited{
	color: #f4f4f4;
}

footer ul li{
display: inline-block;
margin: 0px;
padding-top: 8px;
padding-bottom: 8px;
padding-left: 44px;
padding-right: 64px;
text-align: left;
}

footer div{
	padding-left: 84px;
	color: #f4f4f4;
	vertical-align: center;
}

footer p{
	text-align: center;
}

ul li, ol li{
	margin: 4px;
}

img {
  max-width: 100%;
  height: auto;
}
